{% extends "layouts/application.twig" %}

{% block title %}Index{% endblock %}

{% block content %}
    <section class="content-header">
        <h1>Profile</h1>
        <ol class="breadcrumb">
            <li><a href="#"><i class="fa fa-home"></i> Home</a> </li>
            <li><a href="#">Page</a></li>
            <li class="active">Sub page</li>
        </ol>
    </section>
    <section class="content">
        <div class="box">
            <div class="box-header with-border">
                <h3 class="box-title">Title</h3>
            </div>
            <div class="box-body">
                {{ user.full_name }}
            </div>
            <div class="box-footer">
                <a href="#" class="btn btn-default"><i class="fa fa-arrow-left"></i> Back</a>
            </div>
        </div>
    </section>
{% endblock %}
